.footer {
    background: #fff;
    color: black;
    padding: 40px 0;
    font-size: 16px;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.footer-section {
    flex: 1;
    min-width: 220px;
}

.footer h3 {
    color: #99293f;
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

.footer a {
    color: #99293f;
    text-decoration: none;
    transition: 0.3s;
}

.footer a:hover {
    color: #f6d1d3;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 5px;
}
