<link rel="stylesheet" href="{{ url_for('static', filename='css/catalog.css') }}">

<section class="catalog">
    <div class="catalog-container">
        <h2>Каталог букетов</h2>
        <p>Выберите идеальный букет для любого случая</p>
        <div class="bouquet-grid">
            <div class="bouquet-item">
                <div class="bouquet-image">
                    <img src="{{ url_for('static', filename='images/catalog/1.jpg') }}" alt="Составные букеты">
                </div>
                <div class="bouquet-content">
                    <h3>Lorem Ipsum</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="bouquet-item">
                <div class="bouquet-image">
                    <img src="{{ url_for('static', filename='images/catalog/2.jpg') }}" alt="Моно-букеты">
                </div>
                <div class="bouquet-content">
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, voluptates.</p>
                </div>
            </div>
            <div class="bouquet-item">
                <div class="bouquet-image">
                    <img src="{{ url_for('static', filename='images/catalog/3.jpg') }}" alt="Цветочные композиции">
                </div>
                <div class="bouquet-content">
                    <h3>Lorem ipsum dolor sit.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="bouquet-item">
                <div class="bouquet-image">
                    <img src="{{ url_for('static', filename='images/catalog/4.jpg') }}" alt="Букеты из сухоцветов">
                </div>
                <div class="bouquet-content">
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="bouquet-item">
                <div class="bouquet-image">
                    <img src="{{ url_for('static', filename='images/catalog/5.jpg') }}" alt="Букеты невесты">
                </div>
                <div class="bouquet-content">
                    <h3>Lorem, ipsum.</h3>
                    <p>Lorem ipsum dolor sit.</p>
                </div>
            </div>
            <div class="bouquet-item">
                <div class="bouquet-image">
                    <img src="{{ url_for('static', filename='images/catalog/6.jpg') }}" alt="Дополнения к букетам">
                </div>
                <div class="bouquet-content">
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
        <a href="shop.html" class="catalog-btn">Перейти в каталог</a>
    </div>
</section>